.cards {
  padding: 4rem;
  background: #fff;
}

.cards > h5 {
  text-align: center;
}

.container__cards {
  display: flex;
  flex-flow: column;
  align-items: center;
  max-width: 1120px;
  width: 90%;
  margin: 0 auto;
}

.wrapper__cards {
  position: relative;
  margin: 50px 0 45px;
}

.items__cards {
  display: flex;
  flex: 1;
  margin: 0 1rem;
  margin-bottom: 24px;
  border-radius: 10px;
}

/* .fade-img {
  animation-name: fade-img;
  animation-duration: 2s;
} */



/* @media only screen and (min-width: 1200px) {
  .content__blog__container {
    width: 84%;
  }
} */

@media only screen and (min-width: 1024px) {
  .items__cards  {
    display: flex;
  }
}
